@page
@model Taller.App.Front.Pages.RegistroClienteModel
@{
}

<style>
    #cabeza {
        color: white;
    }

    #user {
        font-size: 30px;
        margin-right: 10px;
    }


    body {
        background: blue;
        background: linear-gradient(to right, #EBEBF6, #949AF3);
    }

    .container {
        border: 10px;
        border-color: #949AF3;
        border-radius: 10px;
    }


    h4 {
        color: blue;
    }


    .bg {
        background-image: url(https://www.lubricantesenvenezuela.com/wp-content/uploads/2020/01/mantenimiento-de-vehiculos.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 1px;
        border-radius: 10px;
    }

    .button {
        padding: 20px;
    }
</style>

<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Cliente</span>
        <label>Andres</label>
    </div>
</div>
<p>



    <!--------------------- inicio formulario --------------------------------------------------------------->

    <body>
        <div class="container w-95 bg-light">
            <div class="row">

                <div class="col bg">
                </div>

                <div class="col">
                    <div class="text-end">
                        <img src="" alt="">
                    </div>


                    <!--Registro-->


                    <form method="post" class="needs-validation" novalidate>
                        <h4 class="fw-bold text-center">REGISTRO DE USUARIO</h4>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="validationCustom06" class="form-label">Tipo de Documento:</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-select" id="validationCustom01" required>
                                        <option selected disabled value="">Marque una opción</option>
                                        <option>Cedula de Ciudadanía</option>
                                        <option>Cedula Extranjería</option>
                                        <option>Pasaporte</option>
                                        <option>Otros</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Este campo es obligatorio
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom06" class="form-label" >Número de
                                        Identificación:</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom02" name="ClienteId"required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom06" class="form-label">Nombre Completo</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Nombre" id="validationCustom05"
                                        required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom05" class="form-label">Fecha de Nacimiento:</label>
                                </div>
                                <div class="col">
                                    <input type="date" class="form-control" name="FechaNacimiento"
                                        id="validationCustom04" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom06" class="form-label">Correo Electrónico</label>
                                </div>
                                <div class="col">
                                    <input type="email" class="form-control" name="Rol" id="validationCustom07"
                                        required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom07" class="form-label" >Celular</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="validationCustom07" name="Telefono" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom089" class="form-label">Dirección de Residencia</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Direccion" id="validationCustom07"
                                        required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom09" class="form-label">Ciudad</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Ciudad" id="validationCustom07"
                                        required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="validationCustom10" class="form-label"
                                        name="Contraseña">Contraseña</label>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" id="validationCustom07" name="contraseña" required>
                                    <div class="invalid-feedback">
                                        Campo requerido
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                             <div class="row">
                                <div class="col">
                                <label for="validationCustom11" class="form-label">Confirmación de
                                Contraseña</label>
                                </div>
                                <div class="col">
                                <input type="password" class="form-control" id="validationCustom07" required>
                                <div class="invalid-feedback">
                                Campo requerido
                                </div>
                                </div>
                                </div> 
                            <br>
                            <br>

                            <div class="col-12">
                                 <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button> 
                                <button type="submit" class="btn btn-primary" asp-page-handler="Add">Guardar</button>
                            </div>
                        </div>

                    </form>

        @* <div class=" col-sm border">
            <div>
                <h5>Registrar nuevo mecanico</h5>
            </div>
            <p>
            <form method="POST" class="needs-validation" novalidate>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="validationCustom01" class="form-label">Tipo de Documento:</label>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-6">
                            <select class="form-select" id="validationCustom01" required>
                                <option selected disabled value="">Marque una opción.</option>
                                <option>Cedula ciudadanía</option>
                                <option>Cedula Extranjería</option>
                                <option>Otros</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="validationCustom01" class="form-label">Nombre:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="NombreCliente" name="Nombre" required>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom02" class="form-label">Numero de Identificación:</label>
                        </div>
                        <br>
                        <br>
                        <div class="col">
                            <input type="text" class="form-control" id="idCliente" name="ClienteId" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom03" class="form-label">Celular:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="TelefonoCliente" name="Telefono" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom04" class="form-label">Fecha de Nacimiento:</label>
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" id="IdFecha" name="FechaNacimiento" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="validationCustom06" class="form-label">Nivel de Estudio:</label>
                        </div>
                        <div class="col">

                            <select class="form-select" id="validationCustom06" aria-label="Default select example"
                                name="Direccion" required>
                                <option selected disabled value="">Marque una opción.</option>
                                <option>Bachiller</option>
                                <option>Técnico</option>
                                <option>Tecnólogo</option>
                                <option>Profesional</option>
                                <option>Especialista</option>
                                <option>Otros</option>
                            </select>
                            <div class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom07" class="form-label">Contraseña:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="recipient-name" name="Contraseña" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom08" class="form-label">Correo:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="recipient-name" name="Rol" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="validationCustom08" class="form-label">Ciudad:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="recipient-name" name="Ciudad" required>
                            <div class="invalid-feedback">
                                Campo requerido
                            </div>
                        </div>
                        
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Acepto los terminos y condiciones
                                </label>
                                <div class="invalid-feedback">
                                    Debe aceptar los términos y condiciones para continuar.
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                       
                        <div class="col-12">
                                        @* <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button> 
                            <button type="submit" class="btn btn-primary" asp-page-handler="Add">Guardar</button>
                        </div>
                    </div>

                </div>
            </form>
        </div> *@

    

        @* tabla de clientes *@
        @* <div id="tabla" class="responsive-border">
            <table id="testTable"
                class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                <thead class="bg-primary">
                    <tr>

                        <th scope="col">Número de Identificación</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Gestion</th>

                    </tr>
                </thead>

                <tbody>
                        @foreach (var c in @Model.ListaCliente )
                        {

                           

                        <tr>
                            <td>@c.ClienteId</td>
                            <td>@c.Direccion</td>
                            <td>@c.Ciudad</td>
                            <td>@c.Nombre</td>
                            <td>@c.Telefono</td>
                            <td>@c.FechaNacimiento</td>
                            <td>@c.Contraseña</td>
                            <td>@c.Rol</td>
                            <td>
                                <i class="edi bi bi-pencil"></i>
                                <form method="POST">
                                    <button class="action" asp-page-handler="Delete"
                                    asp-route-ClienteId="@c.ClienteId">Eliminar</button>
                                </form>
                            </td>

                        </tr>

                        }
                </tbody>
            </table>


        </div> *@

                </div>
            </div>
        </div>

    </body>

    <!---------------------------------------------------------Js-------------------------------->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {

                        event.preventDefault()
                        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                        const alert = (message, type) => {
                            const wrapper = document.createElement('div')
                            wrapper.innerHTML = [
                                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                                `   <div>${message}</div>`,
                                '   <button type="button" id="closes" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                                '</div>'
                            ].join('')

                            alertPlaceholder.append(wrapper)
                        }
                        const alertTrigger = document.getElementById('liveAlertBtn')
                        if (alertTrigger) {
                            alertTrigger.addEventListener('click', () => {
                                alert('Vehículo registrado con exito', 'success')
                            })
                        }
                    }
                    form.classList.add('was-validated')

                }, false)


            })
        })()




    </script>
    <!---------------------------------------------------------Js-------------------------------->