@page
@model Taller.App.Front.Pages.RegistrarNuevoMecanicoModel
@{
}

<style>
    #cabeza {
        color: white;
    }

    #user {
        font-size: 30px;
        margin-right: 10px;
    }

    .table {
        border-radius: 30px;
        text-align: center;
        whidth 100%;
        height: 460px;
        overflow-y: auto;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);

    }

    #tabla {

        height: 300px;
        overflow-y: auto;
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px 10px;
    }



    .notas {
        margin-top: 300px;
    }

    .ediguar {
        margin-top: 180px;
    }

    .foto {
        margin-top: 40px;
    }

    .del {
        color: red;
        margin-left: 7px;
    }

    .edi {
        color: blue;
    }

    .regMecan {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px;
    }

    .fecha {
        background: linear-gradient(to right, #FFE8C7, #EBEBF6);
        border-radius: 10px;
    }

    .mar{
        margin-left: 9px;
    }
</style>

<div id="cabeza" class="bg-primary d-flex flex-row-reverse">
    <div class="p-1">
        <i id="user" class="bi bi-people-fill"></i>
        <span>Supervisor</span>
        <label>Fabian</label>
    </div>
</div>
<p>


    <!--------------------- inicio formulario --------------------------------------------------------------->

<div class="container-fluid">
    <div class="row">

        <div class="regMecan col-sm-6 border">
            <div>
                <h5>Registrar nuevo mecanico</h5>
            </div>
            <p>
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="validationCustom01" class="form-label">Tipo de Documento:</label>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-6">
                        <select class="form-select" id="validationCustom01" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>Cedula ciudadanía</option>
                            <option>Cedula Extranjería</option>
                            <option>Otros</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom02" class="form-label">Numero de Identificación:</label>
                    </div>
                    <br>
                    <br>
                    <div class="col">
                        <input type="text" class="form-control" id="validationCustom02" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom03" class="form-label">Celular:</label>
                    </div>
                    <div class="col">
                        <input type="tel" class="form-control" id="validationCustom03" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom04" class="form-label">Fecha de Nacimiento:</label>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" id="validationCustom04" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom05" class="form-label">Correo Electrónico:</label>
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom06" class="form-label">Nivel de Estudio:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="validationCustom06" required>
                            <option selected disabled value="">Marque una opción.</option>
                            <option>Bachiller</option>
                            <option>Técnico</option>
                            <option>Tecnólogo</option>
                            <option>Profesional</option>
                            <option>Especialista</option>
                            <option>Otros</option>
                        </select>
                        <div class="invalid-feedback">
                            Este campo es obligatorio
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom07" class="form-label">Especialidad:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="validationCustom07" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="validationCustom08" class="form-label">Dirección Física:</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="validationCustom08" required>
                        <div class="invalid-feedback">
                            Campo requerido
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Acepto los terminos y condiciones
                            </label>
                            <div class="invalid-feedback">
                                Debe aceptar los términos y condiciones para continuar.
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <p>
                    <div class="col-12">
                        <button class="btn btn-primary" id="liveAlertBtn" type="submit">Registrar</button>
                        <button class="btn btn-primary" id="liveAlertBtn" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
            </p>
        </div>

        <div class="fecha col border mar ">
            <div class="col-sm-12">
                <div class="foto">
                    <img width="100%" height="auto"
                        src="https://images.pexels.com/photos/3807133/pexels-photo-3807133.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="">
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row base">

        <h5>Mecánicos registrados</h5>

            @*buscador*@
        <div class="d-flex h-5 justify-content-left min-vh-0 user-select-none">
            <br>
            <div class="h-25 search">
                <input type="text" class="search-input" placeholder="Buscar por Número..." name="">
                <a href="#" class="search-icon"> <i class="ser bi bi-search"></i> </a>
            </div>
        </div>
        <br>
        <br>
        <div id="tabla" class="responsive-border">
            <table id="testTable"
                class="table table-hover table-sm align-middle caption-top table-bordered border-primary">
                <thead class="bg-primary">
                    <tr>

                        <th scope="col">Número de Identificación</th>
                        <th scope="col">Nombre y Apellido</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">nivel de Estudio</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Gestión</th>

                    </tr>
                </thead>

                <tbody>
                        @foreach (var m in @Model.listaMecanicos)
                        {

                            @*(int i = 0; i < Model.listaMecanicos.Count; i++)*@

                        <tr>
                            <td>@m.MecanicoId</td>
                            <td>@m.Nombre</td>
                            <td>@m.Telefono</td>
                            <td>@m.FechaNacimiento</td>
                            <td>@m.Rol</td>
                            <td>@m.Contraseña</td>
                            <td>
                                <i class="edi bi bi-pencil"></i>
                                <i class="del bi bi-trash"></i>
                            </td>

                        </tr>

                        }
                </tbody>
            </table>


        </div>





    </div>

</div>
    @*FORMULARIO MODAL MECANICO*@
<div class="modal fade" id="IdModalMecanico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Mecanico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class=" modal-body">
                <form method="post">
                    <div class="  mb-3">
                        <label for="idMecanico" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="IdMecanico" name="MecanicoId">
                    </div>
                    <div class="  mb-3">
                        <label for="MecanicoNombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="NombreMecanico" name="Nombre">
                    </div>
                    <div class="  mb-3">
                        <label for="TelefonoMecanico" class="col-form-label">Telefono:</label>
                        <input type="text" class="form-control" id="TelefonoMecanico" name="Telefono">
                    </div>
                    <div class=" mb-3">
                        <label for="NivelMecanico" class="col-form-label">Nivel de Estudios:</label>
                        <select class="form-select" aria-label="Default select example" name="NivelEstudio">
                            <option value="1">Bachiller</option>
                            <option value="1">Tecnico</option>
                            <option value="1">Profesional</option>
                        </select>
                        <div class="  mb-3">
                            <label for="recipient-name" class="col-form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="IdFecha" name="FechaNacimiento">
                        </div>
                        <div class="  mb-3">
                            <label for="recipient-name" class="col-form-label">Especialidad:</label>
                            <input type="text" class="form-control" id="recipient-name" name="Contraseña">
                        </div>
                        <div class="  mb-3">
                            <label for="recipient-name" class="col-form-label">Rol:</label>
                            <input type="text" class="form-control" id="recipient-name" name="Rol">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>

</style>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()

    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

    const alert = (message, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
        alertTrigger.addEventListener('click', () => {
            alert('Vehículo registrado con exito', 'success')
        })
    }


</script>
<!--------------------- fin formulario --------------------------------------------------------------->
