@page
@model Taller.App.Front.Pages.GestionMecanicoModel
@{
}

<style>
.table{
    background: linear-gradient(to right, #FFE8C7, #EBEBF6);
    border-radius: 10px;
}

.del {
        color: red;
        margin-left: 7px;
    }

    .edi {
        color: blue;
    }


</style>

<div class="bg-primary d-flex flex-row-reverse">
    <div class="p-2">
        <span>Cliente</span>
        <label>Andres</label>
    </div>
    <div class="p-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-square"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
        </svg>
    </div>
</div>
<p>


    @* tabla1 *@
    <div class="row align-items-center ">
        <div class="col">
            <span>
                @Model.titulo
            </span>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">No Trabajo</th>
                        <th scope="col">Info orden</th>
                        <th scope="col">Fecha de Solicitud</th>
                        <th scope="col">Tipo de solicitud</th>
                        <th scope="col"> Gestión</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.listaMecanicos.Count; i++)
                    {
                        <tr>
                            <td>@Model.listaMecanicos[i].TRol</td>
                            <td>@Model.listaMecanicos[i].infoOrden</td>
                            <td>@Model.listaMecanicos[i].fecha</td>
                            <td>@Model.listaMecanicos[i].tipo</td>
                            <td>
                                <i class="edi bi bi-pencil"></i>
                                <i class="del bi bi-trash"></i>
                                <i class="bi bi-gear"></i>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="row align-items-center">
        <div class="col ">
            @* Tabla 3 *@
            <span>
                @Model.titulo2
            </span>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                        class="bi bi-person-square" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Datos de cliente</h5>
                    <p class="card-text"> <label id="Nombre">@Model.listaMecanicos[1].infoOrden</label>
                        <a href="#" class="btn btn-primary">Mas Informacion</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col ">
            <label for="start">Fecha de Cita:</label>
            <br>
            <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">
            @* tabla3 *@
            <br>
            <span>
                @Model.titulo4
            </span>
            <br>
            <table class="table table-bordered border-primary table-hover">
                <thead>
                    <tr>
                        <th scope="col">No. Empleado</th>
                        <th scope="col">Nombre y apellido</th>
                        <th scope="col">Franja Horaria</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Buscar</th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.listaMecanicosDispo.Count; i++)
                    {

                        <tr class="table-active">
                            <th scope="row">@(i+1)</th>
                            <td>@Model.listaMecanicosDispo[i].nombreTec</td>
                            <td>@Model.listaMecanicosDispo[i].fecha</td>
                            <td>@Model.listaMecanicosDispo[i].tipo</td>
                            <td><i class="ser bi bi-search"></i></td>
                        </tr>



                    }
                </tbody>
            </table>

        </div>

    </div>
</div>

